.manageReportBody {
    position: relative;
    top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.manageReportContainer{
    box-shadow: 5px 10px 20px  rgb(112, 100, 72);
        border: 1px solid rgb(252, 186, 63);
        padding: 50px;
}

.highlighter{
    border: 1px solid black;
    background-color: red;
    color: white;
    font-size: medium;
}

button{
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px;
    background-color: blue;
    font-size: medium;
    color: white;
    box-shadow: 10px 20px 50px white;
}

.highlighterButton{
    background-color: black;
    color: white;
}

.available{
    background-color: rgb(231, 184, 114);
    color: white;
    font-size: medium;
    border: 1px solid black;
}

th{
    text-align: center;
}

td{
    text-align: center;
}
.headerStyle{
    color: rgb(243, 173, 88)
}