<div class="mainContainer" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav innerNav">
                  <img class="logo" src="../../../../../assets/images/FlywayLogo.jpeg" alt="FlywayLogo" width="80" height="55">
                <a class="nav-item nav-link active" routerLink="bookFlight">Book Flight <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" routerLink="manageBooking">Manage Bookings</a>
                <a class="nav-item nav-link" routerLink="histroy">Booking History</a>
              </div>
            </div>
          </nav>
    </div>