.admin-main-Container{
    background-color: rgb(250, 220, 86); 
    position: relative; 
    top: 0px; 
    padding: 2px;
  }

  .inner-nav-Content{
    position: relative;
    top: 20px;
  }
  a{
    margin-left: 200px;
    color: white;
  }