.body{
    background-image: url("../assets/images/HyperFlyBGI.jpg");
    margin-top: -20px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
