<div class="header">
    <nav class="header-content navbar navbar-light bg-light">
        <div class="title">{{title}}
        <!-- <div class="logo"></div> -->
        <img class="logo" src="../../../assets/images/FlywayLogo.jpeg" alt="FlywayLogo" width="50" height="50">
    </div>
        <div class="slide-left">
            <a class="navbar-brand" routerLink="#" routerLink="user/DashBoard/bookFlight" >Home</a>
            <a class="navbar-brand" routerLink="admin/login">Login</a>
            <a class="navbar-brand" routerLink="about">About</a>
            <a class="navbar-brand" routerLink="">Contact</a>
        </div>
    </nav>
</div>