.mainContainer{
    background-color: rgb(250, 220, 86); 
    position: relative; 
    top: 0px; 
    padding: 2px;
  }

  .innerNav{
    position: relative;
    top: 20px;
  }
  a{
    margin-left: 60px;
    color: white;
  }