<div class="admin-main-Container" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav inner-nav-Content">
                  <img class="logo" src="../../../../../assets/images/FlywayLogo.jpeg" alt="FlywayLogo" width="80" height="55">
               <a class="nav-item nav-link active" routerLink="addAirline">Add Airline<span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link active" routerLink="scheduleAirline">Schedule Flight</a><!--<span class="sr-only">(current)</span>-->
                <a class="nav-item nav-link" routerLink="manageFlight">Manage Flights</a>
                <a class="nav-item nav-link" routerLink="manageCoupon"> Manage Coupens</a>
                <a class="nav-item nav-link" routerLink="manageReports"> Manage Reports</a>
                <a class="nav-item nav-link" routerLink="passengerBookings"> Passenger Bookings</a>
                <a class="nav-item nav-link" (click)="logout()" > LogOut </a>
              </div>
            </div>
          </nav>
    </div>
