.submit-button-color{
    margin-left: 40%;
    background-color: #0061A8;
    border-radius: 5px 5px;
    color: white;
    box-shadow: 5px 10px 20px black;
    }
    .scheduleFlightFormStyle{
        margin-left:4px
    }
    .schedule-airline-container{
        margin-left: 30%;
        margin-right: 30%;
        position: relative;
        top: 20%;
        height: 550px;
    }
    
    .schedule-airline-form-content{
        box-shadow: 5px 10px 20px rgb(255, 208, 0);
        border: 1px solid rgb(218, 207, 57);
        padding: 25px;
        opacity: 50;
       
    }   
    .schedule-form{
        height: 550px;
    }